.logoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(88px,1fr));
    grid-gap: 1px;
    justify-content: space-evenly;
    grid-auto-flow: dense;
}
.logoGridhid{
    display: none;
}
.logoCol{
background-color: #ffffff  ;
}
.imgLogo{
width: 80%;
-webkit-filter: grayscale(100%); 
filter: grayscale(100%);
}
#moreBtn{
    background-color: initial;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: rgb(0,75,255);
    margin-bottom: 10%;
}
